.form{
    border: 1px solid black;
    width: 350px;
    height: 300px;
    background-image: linear-gradient(red,blue);
    border-radius: 20px;
    margin-left: 400px;
    
}
h1{
    padding-left: 120px;
}

button{
    margin-left: 140px;
}
#name{
    padding-left: 90px;
    margin-left: 10px;

}
#password{
    padding-left: 90px;
    margin-left: 10px;

}
